Repository JDRaftKeeper/RaftKeeper, pull requests merged in 2024-05, with the labels that each got.

#244 Fix extremely large max latency for error session request
  src/Service/RequestProcessor.cpp
Labels: bug

#253 Fix hight CPU usage in LastCommittedIndexManager
  src/Common/ErrorCodes.cpp
  src/Service/LastCommittedIndexManager.cpp
  src/Service/LastCommittedIndexManager.h
  src/Service/NuRaftStateMachine.cpp
  src/Service/NuRaftStateMachine.h
Labels: bug

#258 Support build with clang 16
  .github/workflows/build-and-test-asan.yml
  .github/workflows/build-and-test-macos.yml
  .github/workflows/build-and-test-msan.yml
  .github/workflows/build-and-test-tsan.yml
  .github/workflows/build-and-test-ubsan.yml
  .github/workflows/build-and-test.yml
  CMakeLists.txt
  base/common/tests/CMakeLists.txt
  base/daemon/CMakeLists.txt
  base/glibc-compatibility/CMakeLists.txt
  base/loggers/CMakeLists.txt
  cmake/contrib_finder.cmake
  cmake/find/cxx.cmake
  cmake/find/gtest.cmake
  cmake/find/libxml2.cmake
  cmake/find/protobuf.cmake
  cmake/find/ssl.cmake
  cmake/find/unwind.cmake
  cmake/fuzzer.cmake
  cmake/glob_sources.cmake
  cmake/linux/default_libs.cmake
  cmake/print_include_directories.cmake
  cmake/sanitize.cmake
  cmake/target.cmake
  contrib/FastMemcpy/CMakeLists.txt
  contrib/boost-cmake/CMakeLists.txt
  contrib/boringssl-cmake/CMakeLists.txt
  contrib/cctz-cmake/CMakeLists.txt
  contrib/jemalloc-cmake/CMakeLists.txt
  programs/CMakeLists.txt
  programs/converter/CMakeLists.txt
  programs/server/CMakeLists.txt
  src/CMakeLists.txt
  src/Common/Config/CMakeLists.txt
  src/Common/IO/tests/CMakeLists.txt
  src/Common/tests/CMakeLists.txt
  src/Service/tests/CMakeLists.txt
  src/ZooKeeper/CMakeLists.txt
  src/ZooKeeper/tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
Labels: bug, build

#260 Adding how to deploy learner mode to how-to-deploy document
  docs/how-to-deploy.md
  programs/server/config.xml
Labels: documentation

#274 Use cpp standard 23
  CMakeLists.txt
Labels: build

#275 Fix endless loop in last commmitted index thread
  src/Service/LastCommittedIndexManager.cpp
Labels: bug, peformance

#277 Fix data race by using write-lock for session requests callback
  src/Service/KeeperDispatcher.cpp
Labels: bug, flaky test

#283 Opimize too many `getsockname` system calls
  src/Network/SocketReactor.cpp
Labels: peformance

#286 Fix too many heart beat logs
  src/Service/ConnectionHandler.cpp
  src/Service/ConnectionHandler.h
  src/Service/ForwardConnectionHandler.cpp
  src/Service/ForwardConnectionHandler.h
  src/Service/KeeperStore.cpp
  src/Service/KeeperStore.h
Labels: bug

#289 Use atomic instead of lock for connections static
  src/Service/ConnectionHandler.cpp
  src/Service/ConnectionHandler.h
  src/Service/ConnectionStats.cpp
  src/Service/ConnectionStats.h
  src/Service/FourLetterCommand.cpp
  src/Service/KeeperDispatcher.cpp
  src/Service/KeeperDispatcher.h
Labels: performance
