Repository JDRaftKeeper/RaftKeeper, pull requests merged in 2024-02, with the labels that each got.

#195 Make log append `FSYNC_BATCH` work
  src/Service/NuRaftFileLogStore.cpp
Labels: bug

#202 Avoid memory copy when parsing log
  src/Service/LogEntry.cpp
  src/Service/LogEntry.h
  src/Service/NuRaftLogSegment.cpp
  src/Service/tests/gtest_raft_log.cpp
Labels: enhancement, peformance

#204 Optimize lock for acl map
  src/Service/ACLMap.cpp
Labels: peformance

#205 Update slow request threshold
  src/Service/ConnectionHandler.cpp
  src/Service/NuRaftStateMachine.cpp
Labels: enhancement

#207 Fix forward request tostring
  src/Service/ForwardRequest.h
  src/Service/NuRaftStateMachine.cpp
Labels: code refactor

#209 Remove service types.h
  src/Service/KeeperCommon.h
  src/Service/KeeperServer.h
  src/Service/NuRaftStateManager.h
  src/Service/RequestAccumulator.h
  src/Service/RequestForwarder.h
  src/Service/RequestProcessor.h
  src/Service/Types.h
Labels: code refactor
