Repository JDRaftKeeper/RaftKeeper, pull requests merged in 2024-04, with the labels that each got.

#226 Fix flaky test `test_four_word_command`
  tests/integration/test_four_word_command/test.py
Labels: bug, flaky test

#229 Delete proto from git ignore file
  .gitignore
Labels: code refactor

#235 Remove the use of thread pools for parallel processing of read request
  src/Service/RequestProcessor.cpp
  src/Service/RequestProcessor.h
Labels: peformance
